.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 0 15px;
  gap: 0.875rem;
  position: relative;
  z-index: 500;

  h1 {
    color: var(--neutral-0);
    font-size: 1.8rem;
    text-align: center;

    span {
      background: #f37362;
      background: linear-gradient(to right, #f37362 0%, #ffffff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  p {
    color: var(--neutral-300);
    text-align: center;
    font-size: 1rem;

    span {
      color: var(--orange-700);
    }
  }

  &__logo {
    width: 170px;
    margin-bottom: 18px;

    img {
      object-fit: cover;
    }
  }
}
