<section class="heading">
  <div class="heading__logo">
    <img
      src="/images/logo-full.svg"
      alt="Coding Conf"
      class="w-100 img-fluid"
    />
  </div>

  @if (user()) {
  <h1>
    Congrats,
    <span>{{ firstName }}</span>
    <span>{{ lastName }}</span
    >! Your ticket is ready.
  </h1>
  <p class="mb-5 mb-lg-2">
    We've emailed your ticket to
    <span>{{ user()?.email }}</span> and will send updates in the run up to the
    event
  </p>
  } @else {
  <h1>Your Journey to Coding Conf 2025 Starts Here!</h1>
  <p class="greeting">
    Secure your spot at next year's biggest coding conference
  </p>
  }
</section>
