/* You can add global styles to this file, and also import other style files */
:root {
  /* Neutral Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  /* Orange Colors */
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  /* Gradient (Text) */
  --gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
}

// * Font Size
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Inconsolata-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Inconsolata-Medium.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../public/images/background-mobile.png");
  font-size: 20px;
  font-family: "Inconsolata";
  font-weight: 300;
}
